.App {
  margin: 0 1rem;
}

:root {
  --black-background-color: #000;
  --yellow-font-color: yellow;
  --white-color: #fff;
}

body {
  margin: 0;
  font-family: "Codystar", cursive;
  font-size: 16px;
  background-color: var(--black-background-color);
}

h1,
p,
h4,
h3,
h2 {
  color: var(--yellow-font-color);
  text-align: center;
  font-size: 4rem;
}

p {
  font-size: 1rem;
}

h4,
h3,
h2 {
  font-size: 0.8rem;
  margin: 0;
}

.container {
  margin-top: 3rem;
}

.fetch-starships {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fetch-starships button {
  background-color: var(--yellow-font-color);
  color: var(--black-background-color);
  font-size: 1.2rem;
  padding: 8px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.fetch-starships button:hover {
  border: 1px solid var(--yellow-font-color);
  color: var(--black-background-color);
  background-color: var(--white-color);
}